@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 14px;
  font-family: "Cormorant Infant";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Cormorant Infant";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 20px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 315px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header__link {
  font-size: 18px;
  color: #000000;
}
.header__link:hover {
  border-bottom: 1px solid #000000;
  font-weight: 600;
}
.header__burger {
  display: none;
}

.logo {
  position: relative;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
}
.number__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
}
.header__contacts span {
  margin: 0 0 0 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.header__contacts span span {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: 20px;
}

@media (max-width: 640px) {
  .container {
    position: static;
  }

  body.lock {
    overflow: hidden;
  }

  .logo {
    width: 50px;
    height: 50px;
    z-index: 3;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 65px;
    left: 0;
    top: 0;
    z-index: 50;
  }
  .header__row {
    top: 5px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background: #000;
    position: absolute;
    width: 100%;
    left: 0;
    top: 9px;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff0da;
    padding: 80px 0 0 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 2.14em;
  }
  .header__contacts {
    display: none;
  }

  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 240, 218, 0.442);
    z-index: 3;
  }
}
html {
  scroll-behavior: smooth;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  position: relative;
}

.main-screen {
  background: rgba(255, 240, 218, 0.37);
  padding: 142px 0 60px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
@media (min-height: 901px) {
  .main-screen {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 142px 0 208px 0;
  }
}
.main-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.85%;
          flex: 0 1 37.85%;
}
.main-screen__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60.92%;
          flex: 0 1 60.92%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.main-screen__offer {
  padding: 0 77px 0 0;
}
.main-screen__collage {
  width: 100%;
}
@media (max-width: 1116px) {
  .main-screen {
    padding: 120px 0 50px 0;
  }
  .main-screen__offer {
    padding: 0 20px 0 0;
  }
}
@media (orientation: portrait) {
  .main-screen {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}
@media (max-width: 641px) {
  .main-screen {
    padding: 80px 0 50px 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .main-screen__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-screen__column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-screen__column_b {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 0 35px 0;
  }
  .main-screen__offer {
    padding: 0;
  }
}

.offer__title {
  font-weight: 700;
  font-size: 3.4em;
  margin: 0 0 44px 0;
}
.offer__text {
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 44px 0;
}
.offer__btn {
  display: block;
  width: 202px;
  height: 68px;
  left: 215px;
  top: 464px;
  background: #c4c4c4;
  text-align: center;
  color: #000;
  font-size: 2.14em;
  line-height: 68px;
}
.offer__btn:hover {
  background: #e24040;
  color: #fff;
}
@media (max-width: 1024px) {
  .offer__title {
    font-weight: 700;
    font-size: 3em;
    margin: 0 0 22px 0;
  }
  .offer__text {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0 0 22px 0;
  }
  .offer__btn {
    display: block;
    width: 150px;
    height: 51px;
    background: #c4c4c4;
    text-align: center;
    color: #000;
    font-size: 2em;
    line-height: 51px;
  }
}
@media (max-width: 830px) {
  .offer__title {
    font-weight: 700;
    font-size: 2.5em;
  }
  .offer__text {
    font-size: 1.7em;
    line-height: 1.5em;
  }
  .offer__btn {
    width: 120px;
    height: 40px;
    font-size: 1.7em;
    line-height: 40px;
  }
}
@media (max-width: 712px) {
  .offer__title {
    font-weight: 700;
    font-size: 2.14em;
  }
  .offer__text {
    font-size: 1.42em;
    line-height: 1.5em;
  }
  .offer__btn {
    width: 120px;
    height: 40px;
    font-size: 1.42em;
    line-height: 38px;
  }
}

.collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.collage__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collage__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
  padding: 0 0 35% 0;
}
.collage__column_b {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
}
.collage__column_1 {
  margin: 0 9px 9px 0;
  -webkit-box-shadow: 4px 4px 25px rgba(206, 182, 82, 0.5);
          box-shadow: 4px 4px 25px rgba(206, 182, 82, 0.5);
}
.collage__column_2 {
  margin: 0 0 9px 9px;
  -webkit-box-shadow: 4px 4px 25px rgba(162, 136, 202, 0.5);
          box-shadow: 4px 4px 25px rgba(162, 136, 202, 0.5);
}
.collage__column_3 {
  margin: 9px 9px 0 0;
  -webkit-box-shadow: 4px 4px 25px rgba(244, 219, 86, 0.5);
          box-shadow: 4px 4px 25px rgba(244, 219, 86, 0.5);
}
.collage__column_4 {
  margin: 9px 0 0 9px;
  -webkit-box-shadow: 4px 4px 25px rgba(113, 189, 191, 0.5);
          box-shadow: 4px 4px 25px rgba(113, 189, 191, 0.5);
}
.collage__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about {
  margin-bottom: 100px;
}
.about__me {
  padding: 50px 0 100px 0;
  max-width: 960px;
  margin: 0 auto;
}

.me {
  text-align: center;
}
.me__text {
  position: relative;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.me__text::after {
  content: "";
  position: absolute;
  background-color: #c4c4c4;
  width: 200px;
  height: 1px;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.me__image {
  margin: 100px auto 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.product__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 70px;
}
.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items__image {
  width: 94px;
  height: 69.21px;
}
.items__text {
  padding: 0 0 0 15px;
  font-size: 20px;
  line-height: 24px;
}