@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;0,700;1,400&display=swap");
$fontfamily: "Cormorant Infant";

$minwidth: 320px;

@import "nullstyle.scss";

@import "header.scss";

html {
   scroll-behavior: smooth;
}

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
}

.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1230px;
   padding: 0px 15px;
   margin: 0 auto;
   position: relative;
}

//=================Main screen=======================================
.main-screen {
   background: rgba(255, 240, 218, 0.37);
   padding: 142px 0 60px 0;
   flex: 1 0 100%;

   @media (min-height: 901px) {
      flex: none;
      padding: 142px 0 208px 0;
   }

   &__row {
      display: flex;
   }
   &__column {
      flex: 0 1 37.85%;
      &_b {
         flex: 0 1 60.92%;
         align-self: start;
      }
   }
   &__offer {
      padding: 0 77px 0 0;
   }
   &__collage {
      width: 100%;
   }

   @media (max-width: 1116px) {
      padding: 120px 0 50px 0;
      &__offer {
         padding: 0 20px 0 0;
      }
   }

   @media (orientation: portrait) {
      flex: none;
   }

   @media (max-width: 641px) {
      padding: 80px 0 50px 0;
      flex: none;

      &__row {
         flex-direction: column;
      }
      &__column {
         order: 2;
         &_b {
            order: 1;
            align-self: stretch;
            margin: 0 0 35px 0;
         }
      }
      &__offer {
         padding: 0;
      }
   }
}

.offer {
   &__title {
      font-weight: 700;
      font-size: 3.4em;
      margin: 0 0 44px 0;
   }
   &__text {
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 44px 0;
   }
   &__btn {
      display: block;
      width: 202px;
      height: 68px;
      left: 215px;
      top: 464px;
      background: #c4c4c4;
      text-align: center;
      color: #000;
      font-size: 2.14em;
      line-height: 68px;
      &:hover {
         background: #e24040;
         color: #fff;
      }
   }

   @media (max-width: 1024px) {
      &__title {
         font-weight: 700;
         font-size: 3em;
         margin: 0 0 22px 0;
      }
      &__text {
         font-size: 2em;
         line-height: 1.5em;
         margin: 0 0 22px 0;
      }
      &__btn {
         display: block;
         width: 150px;
         height: 51px;

         background: #c4c4c4;
         text-align: center;
         color: #000;
         font-size: 2em;
         line-height: 51px;
      }
   }

   @media (max-width: 830px) {
      &__title {
         font-weight: 700;
         font-size: 2.5em;
      }
      &__text {
         font-size: 1.7em;
         line-height: 1.5em;
      }
      &__btn {
         width: 120px;
         height: 40px;
         font-size: 1.7em;
         line-height: 40px;
      }
   }

   @media (max-width: 721px) {
      &__title {
         font-weight: 700;
         font-size: 2.14em;
      }
      &__text {
         font-size: 1.42em;
         line-height: 1.5em;
      }
      &__btn {
         width: 120px;
         height: 40px;
         font-size: 1.42em;
         line-height: 38px;
      }
   }
}

.collage {
   display: flex;
   flex-direction: column;
   &__row {
      flex: 1 1 50%;
      display: flex;
   }
   &__column {
      position: relative;
      flex: 1 1 43%;
      padding: 0 0 35% 0;

      &_b {
         flex: 1 1 57%;
      }
      &_1 {
         margin: 0 9px 9px 0;
         box-shadow: 4px 4px 25px rgba(206, 182, 82, 0.5);
      }
      &_2 {
         margin: 0 0 9px 9px;
         box-shadow: 4px 4px 25px rgba(162, 136, 202, 0.5);
      }
      &_3 {
         margin: 9px 9px 0 0;
         box-shadow: 4px 4px 25px rgba(244, 219, 86, 0.5);
      }
      &_4 {
         margin: 9px 0 0 9px;
         box-shadow: 4px 4px 25px rgba(113, 189, 191, 0.5);
      }
   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

//=================================== About US=====================
//==================================== About me
.about {
   margin-bottom: 100px;
   @media (max-width: 721px) {
      margin-bottom: 50px;
   }
   &__me {
      padding: 50px 0 100px 0;
      max-width: 960px;
      margin: 0 auto;
      @media (max-width: 830px) {
         padding: 50px 0 80px 0;
      }
      @media (max-width: 425px) {
         padding: 60px 0 60px 0;
      }
   }
}
.me {
   text-align: center;
   &__text {
      position: relative;
      font-style: italic;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      @media (max-width: 1024px) {
         font-size: 2.4em;
      }
      @media (max-width: 830px) {
         font-size: 2em;
      }
      @media (max-width: 721px) {
         font-size: 1.7em;
         line-height: 1.3em;
      }
      @media (max-width: 390px) {
         font-size: 1.42em;
         line-height: 1.3em;
      }
   }

   &__text::after {
      content: "";
      position: absolute;
      background-color: #c4c4c4;
      width: 200px;
      height: 1px;
      bottom: -50px;
      left: 50%;
      transform: translate(-50%, 0);
      @media (max-width: 425px) {
         bottom: -25px;
         width: 100px;
      }
   }

   &__image {
      margin: 100px auto 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      @media (max-width: 425px) {
         margin: 50px auto 0;
      }
   }
}
//=============About product

.about {
   &__product {
   }
}
.product {
   &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 70px;
      @media (max-width: 1024px) {
         font-size: 2.4em;
      }
      @media (max-width: 830px) {
         font-size: 2em;
      }
      @media (max-width: 721px) {
         font-size: 1.7em;
         line-height: 1.3em;
         margin-bottom: 40px;
      }
      @media (max-width: 390px) {
         font-size: 1.42em;
      }
   }

   &__items {
      display: flex;
      justify-content: space-between;
      @media (max-width: 721px) {
         flex-direction: column;
      }
   }
}
.items {
   &__column {
      display: flex;
      align-items: center;
      @media (max-width: 721px) {
         margin: 0 0 30px 0;
      }
   }

   &__image {
      width: 94px;
      height: 69.21px;
      @media (max-width: 390px) {
         width: 69.79px;
         height: 50px;
      }
      @media (max-width:  335px) {
         width: 57px;
         height: 40.84px;
      }
     
      
   }

   &__text {
      padding: 0 15px 0 15px;
      font-size: 20px;
      line-height: 24px;
      @media (max-width: 390px) {
         font-size: 1.28em;
         line-height: 1.3em;
      }
      @media (max-width: 721px) {
         padding: 0 0px 0 15px;
      }
      @media (max-width:  335px) {
         padding: 0 0px 0 10px;
      }
   }
}
